.bg-body-tertiary {
    padding: 2rem;
    background-color: transparent !important;
}

.navbar__brand {
    font-size: 4rem;
}

.nav__link {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: rgb(165, 164, 164);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.nav__link:hover,
#offcanvasNavbarDropdown:hover {
    color: rgb(98, 97, 97);
}

#offcanvasNavbarDropdown {
    color: rgb(165, 164, 164);
}

.nav__link:nth-child(4) {
    margin-right: 7rem;
}

.logo {
    max-width: 3rem;
    /* margin-left: 10%; */
}

.menu__eve__title {
    font-size: 1.2rem;
    color: rgb(165, 164, 164);
}

.menu__button {
    margin-bottom: 1rem;
    border: none;
    padding: 1rem;
    color: #2DAE01;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.menu__button:hover,
.dark__mode__icon:hover {
    cursor: pointer;
}
.offcanvas__title {
    font-size: 1rem;
    color: grey;
    opacity: 0.7;
    font-family: 'Inter', sans-serif;
}

.button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dark__mode__icon {
    width: 50px;
    margin-top: -1rem;
}

/* button modes start here */
/* Default light mode styles */
body {
    background-color: white;
    color: black;
    transition: background-color 600ms, color 600ms;
}

.button__container {
    display: flex;
    align-items: center;
}

.menu__button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}
/* Dark mode styles */
body.dark-mode {
    background-color: #161514;
    color: white;
}

body.dark-mode .menu__button {
    background-color: white;
    color: black;
}

body.dark-mode .dark__mode__icon {
    filter: invert(1);
    /* Invert colors for the icon in dark mode */
}

/* button modes end here */
@media screen and (width <=1045px) {
    .nav__link:nth-child(4) {
        margin-right: 3rem;
    }
}