/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
} */
/* .footer.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
} */
.footer {
    /* margin-top: 5rem; */
    margin-bottom: 0;
    padding: 5rem 1rem 3rem 1rem;
    color: grey;
}
.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section1 {
    flex-basis: 33%;
    text-align: center;
}
.footer-section h2 {
    font-size: 2.5rem;
}
.footer-section p {
    font-size: 1.5rem;
}
.section2 {
    flex-basis: 33%;
    text-align: center;
}
.section3 {
    flex-basis: 33%;
    text-align: center;
}
.footer-bottom p {
    font-size: 1.2rem;
}
.footer__icons__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 0;
    padding: 2rem;
    padding-top: 0;
    transition: transform all 0.5s ease-in-out;
    -webkit-transition: transform all 0.5s ease-in-out;
    -moz-transition: transform all 0.5s ease-in-out;
    -ms-transition: transform all 0.5s ease-in-out;
    -o-transition: transform all 0.5s ease-in-out;
}
.footer__icons {
    font-size: 3rem;
    color: grey;
}
.footer__icons:hover {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}
.letsdevelopme__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.p__letsdevel0pme {
    font-size: 1rem !important;
    margin-bottom: 0;
}
.link__letsdevel0pme {
    color: grey;
    text-decoration: none;
    font-weight: 600;
}
.footer__email__link {
    color: grey;
    text-decoration: none;
    transition: all 300ms ease-in-out; /* Transition effect with duration of 0.3 seconds */
}
.footer__email__link:hover {
    color: rgb(61, 61, 61);
}
.link__letsdevel0pme:hover {
    transform: scale(1.1);
    color: rgb(82, 82, 82);
    transition: all 300ms ease-in-out;
}
@media screen and (width <= 858px) {
    .footer__icons__container {
        gap: 1rem;
        margin-top: 0;
        padding: 1rem;
        padding-top: 0;
    }
    .footer__icons {
        font-size: 2.3rem;
    }
    .footer h2 {
        font-size: 1.4rem;
    }
    .footer p {
        font-size: 1.2rem;
    }
    .p__letsdevel0pme {
        display: none;
    }
}
@media screen and (width <= 560px) {
    .footer-section.section1 h2 {
        font-size: 1rem;
    }
    .footer-section.section1 p,
    .footer-section.section2 p,
    .footer-bottom.section3 p {
        font-size: 1rem;
    }
    .footer__icons__container {
        padding-bottom: 0;
        margin-top: -1rem;
    }
    .footer__icons {
        font-size: 1.5rem;
    }
    .footer {
        padding: 1rem;
    }
}
@media screen and (width <= 470px) {
    .footer-section.section1 h2 {
        display: none;
    }
    .footer-section.section1 p,
    .footer-section.section2 p,
    .footer-bottom.section3 p {
        font-size: 1rem;
    }
    .footer-section.section1 p {
        margin-bottom: 2px;
    }
    .footer {
        padding-top: 0;
        margin-top: 3rem;
    }
    
    div.footer__icons__container {
        margin-bottom: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .footer__p,
    .link__letsdevel0pme,
    .footer-bottom.section3 p {
        font-size: 0.6rem !important;
    }
}
@media screen and (width <= 430px) {
    .footer {
        margin-top: 7rem;
    }
    .footer__email__link {
        font-size: 0.6rem;
        /* text-decoration: underline; */
    }
}
@media screen and (width <= 340px) {
    div.footer__icons__container {
        margin-bottom: 0;
    }
    /* footer.footer {
        margin-left: 1rem;
    } */
}